[Unit]
Description=Write collected data from co2 and meteo into static html file
After=network-online.target co2-exporter.service meteo-exporter.service

[Service]
User=pi
Restart=always
ExecStart=/opt/weather-dashboard/server.sh

[Install]
WantedBy=multi-user.target
