.group {
    display: flex;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 50%;
}

.infotext {
    margin: auto;
}

p {
    margin: 0;
}

@media (max-width: 600px) {
    .group {
        font-size: 10px;
    }
    h1 {
        font-size: large;
    }
}